/* ----TYPOGRAPHY----- */
.content-title{
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
}

.content-subtitle {
  font-size: 1.5rem;
}

body {
  background-color: #ededed;
  margin: 0;/* gets rid of the default white border around body */
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

header {
  width: 100%;
  height: 746px;
  background-image: url(../img/header-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: cover; No longer need to stretch image*/
}

/*Tablet*/
@media screen and (max-width: 1099px) and (min-width: 768px){
  header {
    background-image: url(../img/header-tablet.jpg);
  }
}

/*Large Mobile Device*/
@media screen and (max-width: 767px) and (min-width: 480px){
  header {
    background-image: url(../img/header-mobile.jpg);
  }
}

/*Small Mobile Device*/
@media screen and (max-width: 479px){
  header {
    background-image: url(../img/header-mobile.jpg);
  }
}

.branding-nav-container {
  width: 1060px;
  /*height: 746px;*/
  margin: 0 auto 0 auto; /* Any element with a width can be centered with left and right margin set to 'auto' */
  /*border: 1px solid white;*/
}

#logo {
  float: left;
  width: 400px;
  height: 80px;
  padding: 30px 0 0 0;

}

.main-navigation {
  float: right;
  text-align: right;
  color: #ffffff;
  padding: 40px 0 0 0;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
}

.main-navigation li {
  display: inline-block;
  margin-right: 50px
}

/*CLEARFIX hack to fix block elements with floating child elements*/
div::after, section::after, header::after, article::after { /*google Clearfix for explanation. Flexbox is better than floating elements*/
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
/*Clearfix^^^*/

.header-title-container {
  /*border: 1px solid white;*/
  width: 1060px;
  margin: 250px auto 0 auto;
  font-size: 32px;
  color: white;
  text-align: center;
}

.content-band{
  padding: 3rem 0 3rem 0;
  width: 100%;
  min-height: 500px;
   /*border: 1px solid red;*/

}

.column {
  /* this will be an element the live area and centered */
  width: 1060px;
  margin: 0 auto 0 auto;
  min-height: 300px;
  /*border: 1px solid gray;*/
}

.quarter{
width: 25%;
float: left;
}


.third {
width: 33%;
float: left;
min-height: 200px;
}


.half {
width: 50%;
float: left;
}

.twothirds {
width: 66%;
float: left;
min-height: 200px;
}

.full {
width: 100%;
float: left;
}

.services-sidebar {
  font-family: "PT Mono";
}

.services-sidebar ul{
  padding-left: 0; /*removes default indent on ul*/
  list-style-type: none; /*gets rid of bullet*/
}

.services-sidebar li{
  margin-top: 9px;
  padding-top: 9px;
  border-top: 1px solid rgb(210,210,210);
}
.modal-backdrop{
  background-color:rgba(0,0,0,0.8);
  width:100vw; /*100% of the browser window's width*/
  height:100vh; /*100% of the browser window's height*/
  position:fixed;
  top:0; /*positioned at (0,0)*/
  left:0;
  display:none;
  z-index:1;
}

.modal-navigation{
  position:fixed;
  top:10vh;
  left:25vw;
  width:50vw;
  height:50vh;
  background-color:rgba(255,255,255,0.95);
  display:none;
  z-index:2;
}

.modal-toggle{
  cursor:pointer;
  border:none;
  background-color:none;
}

.active{
  display:block;
}

.footer-primary{
  background-color: rgba(122,122,122,0.9);
  min-height:500px;
}

.footer-primary .column{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-between;
}

.footer-primary .footer-content{
  min-height:200px;
  min-width:100px;
  background-color: rgba(255,255,255,0.9);
  margin:1%;
}
