/* ----TYPOGRAPHY----- */
.content-title{
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
}

.content-subtitle {
  font-size: 1.5rem;
}

html{
  display:block;
}

body {
  display:block;
  margin: 0;/* gets rid of the default white border around body */
  font-family: 'Roboto Slab', serif;
  color:#c53020;
  font-weight: 400;
  background: #f4ebe1;
  box-sizing: border-box;
  border: 10px solid #c53020;

}

.intro{
  text-align:center;
  margin:auto;
}

/*div.container {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto 0 auto;
  box-sizing: border-box;
  border: 10px solid #127651;
  z-index: 100;
  background: #f4ebe1;
}*/


.ghost-button{
  font-family: 'Roboto Slab', serif;
  background: #f4ebe1;
	border:4px solid #c53020;
	cursor:pointer;
	color:#c53020;
	font-size:17px;
	text-decoration:none;
  padding:.7rem;
}

.ghost-button:hover {
	background-color:#c53020;
  color:#f4ebe1;
}
.ghost-button:active {
}

}

header {
}

.branding-nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  color: #127651;
  border: 10px solid #c53020;
  border-bottom: none;
  box-sizing: border-box;
  font-family: Helvetica; sans-serif;
  z-index:100;
}

.branding-nav-container button{
  position:absolute;
  top:0;
  right:0;
  margin: 20px 30px 0 0;
  padding:12px 31px;

}

#logo {
  position: absolute;
  left: 0;
  top: 0;
  margin: 25px 0 0 30px;

}

.main-navigation {
  background-color: #f4ebe1;
  text-align: center;
  color: #c53020;
  padding: 21px 0 10px 0;
  font-weight: 600;
  font-size: 1rem;
  margin: 0 auto .5rem auto;
  width: 100%;
}
.main-navigation ul{
  text-align: center;
}
.main-navigation li {
  display: inline-block;
  margin-right: 50px;
  padding: 0 0 12px 0;


}

.main-navigation li a{
  text-decoration: none;
  color: #c53020;
}
.main-navigation li a:hover{
  border-bottom: 3px solid #c53020;
  padding-bottom: 1px;
}

/*CLEARFIX hack to fix block elements with floating child elements*/
div::after, section::after, header::after, article::after { /*google Clearfix for explanation. Flexbox is better than floating elements*/
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
/*Clearfix^^^*/

.header-title-container {
  /*border: 1px solid white;*/
  width: 100%;
  margin: 250px auto 0 auto;
  font-size: 32px;
  color: white;
  text-align: center;
}

.content-band{
  padding: 11.5rem 0 11.5rem 0;
  width: 100%;
  min-height: 250px;
  margin: auto;
   /*border: 1px solid red;*/

}

.content-title{
  font-size:2.25rem;
}

.content-subtitle{
  color:#484848;
  font-size:1.25rem;
}

.share-tip{
  color:#484848;
}

.quote .share-tip{
  color:#fff;
}

.column {
  /* this will be an element the live area and centered */
  width: 75%;
  margin: 0 auto 0 auto;
  /*border: 1px solid gray;*/
}

.quarter{
width: 25%;
float: left;
}


.third {
width: 33%;
float: left;
min-height: 200px;
}


.half {
width: 50%;
float: left;
}

.twothirds {
width: 66%;
float: left;
min-height: 200px;
}

.full {
width: 100%;
float: left;
}

.call-to-action .ghost-button{
  margin: 0 2rem 0 0;
}

.product-thumb {
  max-width: 70%;
  background-color: #c53020;
}

.share-row{
  display:inline-block;
  margin: 2rem auto auto auto;
}

.share-tip{
  display: inline-block;
  font-size: .8rem;
  margin: 0 .8rem 0 0;

}

.share-row .icon{
  margin-right:1rem;

}

.share-row .icon img{
  vertical-align: middle;
}

.share-row .icon:last-child{
  margin-right:0;
}

.intro .share-row .icon img{
  margin: 0 1rem 0 1rem;
}

.quote {
  background-color: #c53020;
  color:white;
  font-size:2rem;
  position:relative;
  padding-top:6rem;
  z-index:25;
}

.quote .full{
  width:100%;
  margin:auto;
}

.quote-credit{
  padding-top: 3rem;

}

.quote .quote-credit .quote-person {
    font-size: 1.125rem;
    font-family: Helvetica;
}

.quote .quote-credit a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: Helvetica;
  }

.left-quote{
  font-size: 10rem;
  position: absolute;
  left: 6rem;
  top: 1.25rem;
  color: #000;
}
.right-quote{
  font-size: 10rem;
  position: absolute;
  right: 6rem;
  top: 1.25rem;
  color: #000;
}
