body {
  background-color: #ededed;
  margin: 0;/* gets rid of the default white border around body */
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

div{
  background-color: rgba(255, 255, 255, 1);
  /*border: 1px solid black;
  flex-grow:1;*/
}

#container{
  background-color: rgba(211, 248, 225, 1);
  min-width:100%;
  min-height:100vh;
  flex-wrap:wrap;
  margin:0 auto 0 auto;
  display: flex;
}
.block{
  background-color: rgba(255, 255, 255, 1);
  min-height:90vh;
  margin:1vh 1vw 25vh 1vw;
  padding:3vh 3vw 3vh 3vw;
  width:100%;
  display:flex;
  align-items: stretch;
}

.project-nav{
  font-family: 'Roboto Mono', monospace;
  width:24%;
  display:flex;
  min-height:100%;
  flex-direction: column;
  justify-content: space-between;;

}

.project-category{
  display:flex;
  justify-content:center;
}

.project-arrows{
  display:flex;
  justify-content:center;
  align-items:flex-end;
}

.project-content{
  width:76%;
  display:flex;
  flex-direction:column;
}

.project-head{
  display:flex;
  flex-grow:1;
}

.project-head-title{
  width:50%;
}
.project-head-description{
  width:50%;
}

.project-gallery{
  flex-grow: 20;
  background-image:url(../img/header-home.png);
}

.view-link{
  width:50%;
  border-top: 1px solid black;
}

/*Tablet*/
@media screen and (max-width: 1099px) and (min-width: 768px){
  header {
    background-image: url(../img/header-tablet.jpg);
  }
}

/*Large Mobile Device*/
@media screen and (max-width: 767px) and (min-width: 480px){
  header {
    background-image: url(../img/header-mobile.jpg);
  }
}

/*Small Mobile Device*/
@media screen and (max-width: 479px){
  header {
    background-image: url(../img/header-mobile.jpg);
  }
}
